body {
  margin: 0;
}

#hero {
  background-image: url('./assets/hero-bg.jpg');
  height: 500px;
  background-size: cover;
  background-position: center center;
}

#categoryForm input, #categoryForm label, #categoryForm button  {
  margin: 8px;
}
