body {
  margin: 0;
}

#logo {
  font-family: "Instrument Serif", serif;
  font-size: 1.4rem;
  text-decoration: none;
  letter-spacing: 0.12em;
}

#hero {
  background-image: url('./assets/hero-bg.jpg');
  height: 500px;
  background-size: cover;
  background-position: center center;
}

.swiper-prev,
.swiper-next {
  color: #111 !important;
}

.swiper-prev svg,
.swiper-next svg {
 font-size: 64px;
}

