body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#logo {
  font-family: "Dancing Script", cursive;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  color: #111;
  letter-spacing: 0.05em;
}

#hero {
  background-image: url('./assets/hero-bg.jpg');
  height: 500px;
  background-size: cover;
  background-position: center center;
}